.content-artikel {
    padding: 40px;
    background-color: #eee;
}

.grid-artikel {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-artikel {
    background-color: #fff;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.card-artikel img {
    width: 95%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 10px auto 0 auto;
}


div.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.card-body h3 {
    font-size: 16px;
    color: #3d5c26;
    font-weight: bold;
    margin-bottom: 10px;
    }

.excerpt {
    font-size: 14px;
    margin-bottom: 20px;
}


.content-wrapper-flex {
    flex: 1; 
}
.container2 {
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
    
.bg-transparent {
    background-color: transparent !important;
}

.tx-info {
    color: #04709A;
}

@media (max-width: 576px) {
    .grid-artikel {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card-artikel {
        width: 100%;
        margin: 0 auto;
    }

    .card-artikel img {
        width: 100%;
        height: auto;
    }

    .position-relative.mx-auto {
        width: 100% !important;
        height: 140px !important;
    }

    .col-md-10.col-lg-3 {
        flex-direction: column !important;
        align-items: center;
    }

    .col-md-10.col-lg-3 .flex-fill {
        width: 100%;
    }

    .fw-bold.fs-2 {
        font-size: 1.1rem !important;
    }

    .jumbotron .row {
        flex-direction: column-reverse;
        text-align: center;
    }

    .jumbtron_img img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .col-md-6.col-lg-5 {
        width: 100%;
    }

    .display-6 {
        font-size: 1.5rem;
    }

    .fs-3 {
        font-size: 1rem !important;
    }

    .container2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .d-flex.justify-content-between {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}
